.app {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #fff;
}

.error {
    color: red;
    font-size: 12px;
}

.loginInput {
    height: 25px;
    border: 1px solid;
}

.loginButton {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #e6c2a3;
    color: #24160a;
    border: #f7ece3;
    padding: 10px 20px;
}

.loginButton:hover {
    background: #f7ece3;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
}

.submitButton {
    display: flex;
    justify-content: center;
}

.title {
    font-size: 40px;
}

.smallTitle {
    font-size: 30px;
}