.portfolio-home {
    height: 100vh;
    display: flex;
    align-items: start;
    justify-content: center;
}

.portfolio-button-continue-wrapper,
.portfolio-monitor-button-back-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.portfolio-button-continue,
.portfolio-monitor-button-back {
    background: #006e0c;
    width: 200px;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.portfolio-button-continue:hover,
.portfolio-monitor-button-back:hover {
    background-color: #009933;
}