.add-stock-form-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 5px;
}

.form-container {
    display: flex;
    align-items: start;
}

.new-stock {
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    font-weight: bold;
    border: 1px solid black;
}

.new-stock input {
    width: 100%;
    height: 80%;
    background-color: transparent;
    border: none
}

.new-stock select {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none
}

.new-stock-input:focus {
    outline: none;
}

.add-cancel-button {
    background: #006e0c;
    height: 40px;
    width: 100px;
    margin-top: 5px;
    margin-right: 5px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.add-cancel-button:not(:disabled):hover {
    background-color: #009933;
}

.add-cancel-button:disabled {
    opacity: 0.5;
}