.portfolio-configuration-page-container {
    display: flex;
    flex-direction: column;
}

.portfolio-configuration-container {
    margin: auto;
    padding: 15px;
    border: 3px solid #006e0c;
    border-radius: 20px;
    background-image: url('https://static.vecteezy.com/system/resources/previews/001/220/903/original/stock-market-graph-design-on-white-background-vector.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.portfolio-configuration-title {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 25px;
}

.portfolio-main-row-wrapper, 
.stock-row-wrapper {
    display: flex;
    align-items: center;
}

.portfolio-main-row, 
.stock-row {
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    font-weight: bold;
    border-bottom: 1px solid #006e0c;
}

.portfolio-configuration-stocks-container {
    max-height: 410px; /* set max height to 10 rows */
    overflow-y: scroll;
}

.button-remove-stock {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin: 0px 0px 0px 5px;
}

.button-remove-stock span {
    font-size: 20px;
    color: black;
}

.button-remove-stock:hover {
    cursor: pointer;
    border: 2px solid black;
}

.button-add-stock {
    background: #006e0c;
    width: 150px;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.button-add-stock:hover {
    background-color: #009933;
}