.market-data {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
}

.input-data-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.input-box {
    width: 200px;
    margin: 10px;
}

.input-symbol {
    width:100%;
    margin-bottom: 10px;
    padding: 15px;
    border: 3px solid #006e0c;
    border-radius: 20px;
    background-color: white;
    text-align: center;
}

.input-symbol:focus {
    outline: none;
    border-color: #00cc00;
}

.submit-button {
    background: #006e0c;
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    margin-left: 50px;
}

.submit-button:not(:disabled):hover {
    background-color: #009933;
    cursor: pointer;
}

.submit-button:disabled {
    opacity: 0.5;
}

#chart {
    width: 1000px;
}

.info-text-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 20px;
}

.info-text-container span {
    width: 100%;
    color: white;
    opacity: 0.5;
}
