@font-face {
    font-family: 'Star Jhol';
    src: url('../../assets/star_jedi/starjedi/Starjhol.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  

.navbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    height: 85px;
    padding: 0px 20px 0px 20px;
}

.navbar-title {
    display: flex;
    flex-grow: 1;
    text-align: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Star Jhol', sans-serif;
}

.nav-container {
    display: flex;
    width: 200px;
    flex-direction: row;
    justify-items: center;
}

.nav-link {
    color:   #726565;
    margin-right: 20px;
    cursor: pointer;
    text-decoration: none;
}

.nav-link:hover {
    color: #dddddd;
}

.nav-link.active {
    color: white;
}

.sign-out-button-container {
    width: 200px;
}

.sign-out-button {
    width: 100%;
    padding: 8px 16px;
    background-color: #333333;
    color: #fff;    
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.sign-out-button:hover {
    background-color: #555555;
}
    
.sign-out-button:active {
    transform: translateY(1px);
}
